.app {
  text-align: center;
  min-height: 100vh;
  padding-top: 50px;
  background: linear-gradient(to right, #74ebd5, #9face6);
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weather-box {
  margin-top: 20px;
  background: white;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

.error {
  color: red;
}
